/*标签名称选择器*/
body {
    background-color: rgb(255, 255, 255);
}

/*id选择器*/
#title-1 {
    text-decoration: line-through;
}

/*class 选择器*/
.title {
    background-color: #ffffff
}

.content {
    margin-bottom: 10px;
    border: 3px solid red;
    font-size: 24px;
    color: #ff0000
}

.content1 {
    color: #faf6f6;
    text-decoration: underline
}